.thumbnail img {
  max-height: 150px;
}

.price{
  font-weight: bold;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#auth{
  width:400px;
  margin:100px auto;
}
  #auth .no-warning{
    display:none;
  }

#RadarChart{
  width:500px;
  height:500px;
  position:absolute;
  left:600px;
  top:270px;
}
.box{
  height:300px;
  width:300px
}
.selector{
  float:right;
  border:solid;
  margin:5px;
  padding:5px;
  border-radius:20%;
}
.thumbnail{
  border:5px solid;
}
.hybrid{
  background-color:lightgreen;
  /*border: 5px solid, lightgreen; */
}
.sativa{
  background-color:lightcoral;
  /*border: 5px solid, lightcoral; */
}
.indica{
  background-color:skyblue;
  /*border: 5px solid, skyblue ;*/
}